fastapi==0.104.1
fastapi-mail
pyodbc
uvicorn[standard]==0.24.0
sqlmodel==0.0.23
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
PyJWT==2.8.0
cryptocode==0.1
python-dotenv
insightface
onnxruntime
Pillow
numpy
opencv-python
scikit-learn