<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="page">
        <form id="formLogin" autocomplete="off" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="Digite seu e-mail" autofocus="true" />
            <div id="erroEmail"></div> 
            
            <label for="password" id="labelPassword">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" />
            <div id="erroSenha"></div>

            <a href="./recovery.html">Esqueci minha senha</a>
            <input type="button" onclick="teste()"  value="Acessar" class="btn" />
        </form>
    </div>
</body>
<script>
    var form = document.getElementById("formLogin")
    form.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            teste()
        }
    });
    function teste(){
        let url = "http://127.0.0.1:8000/"
        var formulario = document.getElementById("formLogin")
        
        fetch(url+'login/entrar', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({"email":formulario.email.value, "senha":formulario.password.value}),
            
        })
        .then(response => {
            document.getElementById("erroEmail").innerText = "";
            document.getElementById("erroSenha").innerText = "";

            if(!response.ok){
                trataResponse(response);
                return;
            }

            response.json()
            .then(response=>{
                document.cookie = `token=${response.token};`
                window.location = 'mainpage.html'
            });
        });
    }

    function trataResponse(response){
        response.json()
        .then(r=>{ 
            switch(response.status){
                case 404:
                    document.getElementById("erroSenha").innerText = "";
                    document.getElementById("erroEmail").innerText = r.detail;
                    break;
                case 400:
                    document.getElementById("erroEmail").innerText = "";
                    document.getElementById("erroSenha").innerText = r.detail;
                    break;
            }
        });
    }
    
</script>


</html>