<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
        .form-group button {
            margin-bottom: 15px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        .form-group button:hover {
            background-color: #45a049;
        }
    </style>
    <link rel="stylesheet" href="index.css">
    <script src="common.js"></script>
</head>
<header>
    <h1>#</h1>
    <nav>
        <ul>
            <li><a href="mainpage.html">Inicio</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="meusDados.html">Meus dados</a></li>
            <li><a style="cursor: pointer;" onclick="sair()">Sair</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="container">
        <h2>Meus Dados</h2>
        
        <div class="form-group">
            <label for="username">Nome:</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf">
        </div>
        <div class="form-group">
            <label for="age">Data de Nascimento:</label>
            <input type="date" id="age" name="age">
        </div>
        <div style="padding-bottom: 10px;">
            <button onclick="AtualizarCriarUsuario()">Atualizar Cadastro</button>
        </div>
        
        <button onclick="window.location = 'mainpage.html'">voltar</button>
    </div>
</body>
<footer>
    <p>&copy; 2025 Minha Página. Todos os direitos reservados.</p>
</footer>
<script>
    //TODO update usuario quando o cara clicar em criar usuario e já tiver usuario
    validarDados();
    var idLogin = "";
    var idUsu = "";
    var email = "";
    
    function AtualizarCriarUsuario(){
        if(idLogin != ""){
            CriarUsuario()
        }else if(idUsu != ""){
            AtualizarUsuario()
        }
    }

    function AtualizarUsuario(){
        var dados = {
            nome: document.getElementById("username").value,
            cpf: document.getElementById("cpf").value,
            data_nascimento: document.getElementById("age").value,
        }

        fetch(url + "usuario/atualizar/" + idUsu,{
            method: "PUT",
            body: JSON.stringify(dados),
            headers:{
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json',
            }
        })
        .then(res=>{
            if(res.status != 200){
                res.json()
                .then(r=>{
                    console.log(r)
                    alert("terte" + r.detail)
                    
                    //removerAcesso()
                })
                return
            }
            res.json()
            .then(r=>{
                console.log("foi")
                console.log(r)
                idUsu = r.id;
            })
        })
    }

    function CriarUsuario(){
        var dados = {
            nome: document.getElementById("username").value,
            cpf: document.getElementById("cpf").value,
            data_nascimento: document.getElementById("age").value,
            id_login: idLogin
        }
        
        fetch(url + "usuario/criar/",{
            method: "POST",
            body: JSON.stringify(dados),
            headers:{
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json',
            }
        })
        .then(res=>{
            if(res.status != 200){
                res.json()
                .then(r=>{
                    console.log(r)
                    alert("terte" + r.detail)
                    
                    //removerAcesso()
                })
                return
            }
            res.json()
            .then(r=>{
                console.log("foi")
                console.log(r)
                idUsu = r.id;
                var dados = {
                    id_usu: r.id
                }
                fetch(url + "login/atualizarToken", {
                    method: "POST",
                    body: JSON.stringify(dados),
                    headers:{
                        'Authorization': 'Bearer ' + token,
                        'Content-Type': 'application/json',
                    }
                })
                .then(res=>{
                    if(res.status != 200){
                        res.json()
                        .then(r=>{
                            console.log(r)
                            alert("terte" + r.detail)
                            
                            //removerAcesso()
                        })
                        return
                    }
                    res.json()
                    .then(r=>{
                        document.cookie = `token=${response.token};`
                    })
                })
            })
        })
    }

    function validarDados(){
        if(document.cookie != ""){
            fetch(url + "login/validarToken", {
                method: "GET",
                headers: {
                    'Authorization': 'Bearer ' + token                    
                }
            })
            .then(res=>{
                if(res.status != 200){
                    removerAcesso();
                    return;
                }
                res.json()
                .then(r=>{
                    ObterDados(r);
                    tipoLogin = r.tp_login
                    if(tipoLogin == "adm"){
                        const li = document.createElement("li");
                        const a = document.createElement("a");
                        const ul = document.querySelector("ul");

                        a.id = "login";
                        a.href = "inserirLogin.html";
                        a.textContent = "Inserir Login";

                        li.appendChild(a);
                        ul.insertBefore(li, ul.lastElementChild);
                    }
                })
            })
        }else{
            alert("Sessão expirada")
            window.location = pgLogin;
            return 
        }
    }
    function ObterLogin(response){
        fetch(url + "login/getLogin/" + response.id_login,{
                method: "GET",
                headers:{
                    'Authorization': 'Bearer ' + token 
                }
            })
            .then(res=>{
                if(res.status != 200){
                    res.json()
                    .then(r=>{
                        alert(r.detail)
                        removerAcesso()
                    })
                    return
                }
                res.json()
                .then(r=>{
                    document.getElementById("email").value = r.email
                })
            })
    }
    function ObterDados(response){
        
        if(response.id_login){

            idLogin = response.id_login
            alert("Preencha o formulário e crie seu usuário!")
            ObterLogin(response);

        }else if(!response.id_login || idUsu != ""){
            
            //transformar em uma função obterusuario e a parte dos documents ali embaixo ser separada para ficar nesse else if
            fetch(url + "usuario/getUsuario/" + response.id_usu,{
                method: "GET",
                headers:{
                    'Authorization': 'Bearer ' + token 
                }
            })
            .then(res=>{
                if(res.status != 200){
                    res.json().then(r=>{
                        console.log("deu ruim:" + r)
                    })
                    return
                }
                res.json()
                .then(r=>{
                    idUsu = r.id
                    document.getElementById("username").value = r.nome;
                    document.getElementById("cpf").value = r.cpf;
                    document.getElementById("age").value = r.data_nascimento;
                    ObterLogin(r);
                })
            })
        }
    }
        

</script>
</html>
