<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="page">
        <form id="formInicio" autocomplete="off" class="formLogin">
            <h1>Redefinição da senha</h1>
            <p>Código confirmado!<br>Preencha os dados a seguir para modificar sua senha.</p>
            <input type="button" onclick="start()" value="Continuar" class="btn" />
        </form>
        <form id="formLogin" autocomplete="off" class="formLogin" style="display: none;">
            <h1>Redefinição da senha</h1>
            <p>Insira os dados para a redefinição da senha</p>
            <label for="senhaAntiga">Senha antiga</label>
            <input type="password" name="senhaAntiga" placeholder="Digita a senha antiga" autofocus="true" />
            <div id="erroSenhaAntiga"></div> 
            <label for="senha">Senha nova</label>
            <input type="password" name="senha" placeholder="Digita a nova senha"/>
            <label for="senhaConfirma">Confirmar nova senha</label>
            <input type="password" name="senhaConfirma" placeholder="repita a nova senha"/>
            <div id="erroSenhaConfirma"></div>

            <input type="button" onclick="teste()" value="Continuar" class="btn" />
        </form>
    </div>
</body>
<script>
    function start(){
        document.getElementById("formInicio").style.display = 'none'
        document.getElementById("formLogin").style.display = 'flex'
    }
    function teste(){
        var token = document.cookie.split("=")[1]
        var url = "http://127.0.0.1:8000/"
        var formulario = document.getElementById("formLogin")

        fetch(url + "login/mudarSenha", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                "Authorization": "Bearer " + token
            },
            body: JSON.stringify({
                "senhaAntiga":formulario.senhaAntiga.value,
                "senhaNova":formulario.senha.value,
                "senhaNovaConfirmada":formulario.senhaConfirma.value
            }),
        }).then(response=>{
            document.getElementById("erroSenhaConfirma").innerText = ""
            if(!response.ok){
                response.json()
                .then(r=>{
                    document.getElementById("erroSenhaConfirma").innerText =  r.detail
                })
            }

            response.json()
            .then(res=>{
                removerAcesso();
                document.getElementById("erroSenhaConfirma").innerText = ""
                window.location = "login.html"
            })
        })

    }

    function removerAcesso(){
        var mydate = new Date();
        mydate.setTime(mydate.getTime() - 1);
        document.cookie = "token=; expires=" + mydate.toGMTString(); 
    }
</script>
</html>